.btn {
  color: black;
  font-weight: bold;
}

.nav-link {
  color: black;
  font-weight: bold;
}

.card-header {
  padding: 0;
}

.tabdisplay {
  display: none;
}

.accordiondisplay {
  margin: 20px;
}

@media screen and (max-width: 1028px) {
  .tabdisplay {
    margin: 20px;
    display: block;
  }
  .accordiondisplay {
    display: none;
  }
}
